{% extends 'base.html.twig' %}

{% block body %}
    <h1>Listado de alumnado</h1>
    <table>
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Apellidos</th>
            </tr>
        </thead>
        <tbody>
            {% for alumno in alumnos %}
                <tr>
                    <td>{{ alumno.nombre }}</td>
                    <td>{{ alumno.apellidos }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}